.navbar {
    background-color: #fff;
    color: #555; /* Jakarta Plus grey color */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-weight: normal;
}

.navbar-toggler-icon {
    background-color: #555; /* Jakarta Plus grey color */
}

/* Logout button specific styles */
.navbar-nav .logout-button {
    font-weight: bold;
    color: #555; /* Jakarta Plus grey color */
    border: 2px solid #f10000; /* Red border */
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

    .navbar-nav .logout-button:hover {
        color: #fff;
        background-color: #f10000; /* Red background on hover */
    }
