/* Register.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #f8f9fa;
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 80px; /* Artırılan margin değeri */
}

.register-body {
    width: 600px;
    padding: 20px; /* Artırılan padding değeri */
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px 0; /* Hem üst hem de alt tarafında 20px boşluk */
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    color: #495057;
}

.input-container {
    margin-bottom: 20px;
}

    .input-container label {
        display: block;
        margin-bottom: 8px;
    }

    .input-container input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

.signup {
    background-color: #dc3545; /* Kırmızı renk */
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

    .signup:hover {
        background-color: #c82333; /* Koyu kırmızı renk */
    }

.policy {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.checkBox {
    margin-top: 50px;
}

.please-create-a {
    text-align: center;
    margin-top: 20px; /* Güncellenen margin değeri */
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #495057;
}

.sign-up1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    display: inline-block;
    color: #e91c1c;
}
