/* Basket.css */

.basketPage {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

.basketContent {
    margin: 20px;
}

.basketSummary {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderSummary {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: grey; /* Change text color to grey */
}

.basketCourse {
    display: flex;
    background-color: #fff;
    border: 2px solid #f10000; /* Set border color to red */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.myBasket {
    margin-bottom: 20px;
}


.courseImage {
    flex: 1;
}

    .courseImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.courseInfo {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

    .courseInfo h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .courseInfo p {
        margin: 0;
        color: #666;
    }

    .courseInfo button {
        margin-top: 10px; /* Add space above the button */
        font-size: 16px; /* Adjust font size */
        color: grey; /* Change text color to grey */
        border: 2px solid #f10000; /* Set border color to red */
        border-radius: 5px; /* Add border-radius for rounded corners */
        background-color: #fff; /* Set background color to white */
        cursor: pointer; /* Add pointer cursor */
        padding: 5px 10px; /* Add padding for better appearance */
        transition: color 0.3s, background-color 0.3s; /* Add transition for smoother hover effect */
    }

        .courseInfo button:hover {
            color: #fff; /* Change text color on hover */
            background-color: #f10000; /* Change background color on hover */
        }
