/* View All Section */
.view-all {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-all-child {
    border-radius: 60px;
    background-color: #e91c1c; /* Kırmızı renk */
    width: 50px;
    height: 50px;
}

.view-all1 {
    margin-left: 10px;
    font-size: 18px;
    color: #333; /* Siyah renk */
}

/* Shop Courses Section */
.shopcourses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px; /* Kartların kategori butonları ile olan mesafe arttırıldı */
    margin-top: 30px; /* Kartların kategori butonları ile olan mesafe arttırıldı */
}

.course-card {
    border: 2px solid #ccc; /* Çerçeve gri renkte */
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff; /* Beyaz arka plan */
}

    .course-card:hover {
        transform: scale(1.05);
    }

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course-details {
    padding: 16px;
}

    .course-details h3 {
        margin-bottom: 8px;
        font-size: 18px;
        color: #333;
    }

    .course-details p {
        margin-bottom: 8px;
        font-size: 14px;
        color: #777;
    }

/* Shop Categories Frame */
.shopcategoriesframe {
    display: flex;
    gap: 8px;
    margin-top: 40px; /* Kartların kategori butonları ile olan mesafe arttırıldı */
}

.shopcategories {
    line-height: 29px;
    color: #333;
}

/* Shop Header */
.shopheader {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

/* Kategori Stilleri */
.category {
    padding: 10px 16px; /* Kategori butonlarının padding'i arttırıldı */
    background-color: #ccc; /* Gri renk */
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .category:hover {
        background-color: #555;
    }

/* View Details Button */
.course-details button {
    background-color: #e91c1c; /* Kırmızı renk */
    color: #fff;
    border: 2px solid #e91c1c; /* Çerçeve kırmızı renkte */
    border-radius: 6px;
    padding: 10px 16px; /* Daha belirgin bir buton padding'i */
    cursor: pointer;
    transition: background-color 0.3s;
}

    .course-details button:hover {
        background-color: #333;
    }
