/* LoginPage.css */
body {
    margin: 0;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-body {
    width: 600px;
    padding: 30px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #495057; /* Change the color to grey */
}

.login-signin {
    background-color: #ced4da; /* Change the background color to grey */
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

    .login-signin:hover {
        background-color: #adb5bd; /* Change the hover background color to a slightly darker grey */
    }
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/*.login-signin {
    background-color: #e91c1c;
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}*/

.forgot-password {
    text-align: right;
    color: #e91c1c;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-error {
    color: #e91c1c;
    margin-bottom: 10px;
    text-align: center;
}

.please-log-in {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #495057;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

    .register-link Button {
        background-color: #e91c1c;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Include color transition */
        text-decoration: none; /* Remove underline */
    }

        .register-link Button:hover {
            background-color: #dc3545;
            color: #fff; /* Set the color to white on hover */
            text-decoration: none; /* Remove underline on hover */
        }


        

